<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/output.css') }}">
    </head>
    <body class="flex flex-col min-h-screen">
        <header>
            <!-- logo and navigation -->
        </header>
        <nav class="w-full h-14 bg-sky-500">
            <!-- further navigation menu will go in here -->
        </nav>
        <main class="w-auto mx-5 flex-grow">
            {% block content %} {% endblock %}
        </main>
        <footer class="h-20 w-full bg-sky-600">
            {% include('footer.html') %}
        </footer>
    </body>
</html>
